<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broken Link Check Automation</title>
</head>

<body>
    <h1>Broken Link Checker</h1>

    <label for="url">Please enter URL</label>
    <input type="text" id="url">
    <button onclick="getInput()">Submit</button>

    <h2>Output</h2>
    <div id="output"></div>
    <script type="module" src="index.js"></script>
</body>

</html>