.page {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    color: blue;
}

#info {
    height: auto;
    top: 100px;
}

#back-to-top {
    position: fixed;
    display: none;
    right: 25px;
    bottom: 25px;
}